<div class="container">
    <div class="row">
        <div class="col-md-12 settings">
            {{ page.settings }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 header">
            {{ page.header }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 user-menu">
            {{ page.user_menu }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 top-menu">
            {{ page.top_menu }}
        </div>
    </div>
    <div class="row">
        {% if page.left_sidebar %}
        <div class="col-md-4 left-sidebar">
            {{ page.left_sidebar }}
        </div>
        {% endif %}
        <div class="col-md-{{ (page.left_sidebar) ? '8' : '12' }} content">
            {{ page.content }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 footer">
            {{ page.footer }}
        </div>
    </div>
</div>